<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjCrN7N22KNy6w3PAzuR0gnFgUSFmGlC8</string>
	<key>GCM_SENDER_ID</key>
	<string>523190900965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniHabitTracker</string>
	<key>PROJECT_ID</key>
	<string>mini-habit-tracker-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-habit-tracker-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523190900965:ios:9ac64aee575a67a995dc0c</string>
</dict>
</plist>